* {
 font-family: Verdana, Geneva, Tahoma, sans-serif;



}
header{
    background-color: #FED9B7;
}

.topbar {
    display: flex;
    padding: 0px 90px;
    justify-content: flex-end;
    background-color: #F07167;
    align-items: center;
    
}

.logotext{
    margin-right: auto;
    font-size: 24px;
    
}

.toplinks {
    display: flex;
    gap: 16px;
    font-size: 18px;
   
}

.logo {
    width: 40px;
    height: 40px;
    border: 0;
    
}

.headerdiv {
    display: flex;
    padding: 50px;
}

.headercontent {
    display: flex;
    flex-direction: column;
    padding: 50px;

}

.headhead {
    font-size: 48px;
    font-weight: bolder
}


#headerimage {
    width: 400px;
    height: auto;
    border: 5px solid #0081A7;
}

.maininfo {
    background-color: #FDFCDC;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.p1 {
    font-size: 36px;
    font-weight: bolder;
}

.maininfobox {
    display: flex;
    justify-content: center;
    text-align: center;
}

.quote {
    background-color: #F07167;
    display: flex;
    justify-content: center;
    padding: 72px;
    flex-direction: column;
}

.quotebox {
    font-size: 36px; 
    font-weight: 100;
    font-style: italic;
    max-width: 600px;
    align-self: center;
}

.p2 {
    flex: 1 auto;
    margin-left: 60%;
}

.top-button {
    margin-top: 8px;
}

button {
    background-color: #0081A7;
    border: 2px, black;
    padding: 8px 28px;
    border-radius: 15px;
    font-weight: 700;
    font-size: 18px;
}

footer {
    background-color: #FDFCDC;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 32px;
}



.footerdiv {
    background-color: #FED9B7;
    max-width:  50%;
    flex: auto;
    margin: 32px auto;
    padding: 32px 64px;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    
}

.foothead {
    font-size: 24px;
    font-weight: 700;
}

.foottext {
    font-size: 18px;
}

ul {
    display: flex;
    padding: 0px;
    gap: 30px;

}

li {
    display: flex;
    flex-direction: column;
    padding: 0px;
    text-align: center;
    max-width: 200px;
    gap: 8px;
    font-size: 18px;
    
}

.b2 {
    align-self: center;
    padding-left: 1em;
}

a {
    text-decoration: none;
}

img {
    width: 200px;
    height: 200px;
    border: 5px solid ;
    border-radius: 10px;
}

